{% extends "layout.html" %}
{% block title %}Integration Details{% endblock %}

{% block css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
{% endblock %}

{% block body %}
<div class="mui--appbar-height"></div>
<br>
<br>
<div class="mui-container">
   <div class="mui--text-title"">Implementing Bluemoon Forms Lease Application</div>
   <div class="mui--text-subhead">Include the Bluemoon CSS and Material Design Icon files:</div>
   <pre><code class="html">{%- for css_file in context.css_files %}
&lt;link href=&quot;//{{context.static_url}}/{{css_file}}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
    {%- endfor %}&lt;link href=&quot;//fonts.googleapis.com/icon?family=Material+Icons&quot; rel=&quot;stylesheet&quot;/&gt;</code></pre>
   <div class="mui--text-subhead">Add the base container where you want the code to display:</div>
   <pre><code class="html">&lt;div class=&quot;blueMoon&quot;&gt;&lt;app-root&gt;&lt;/app-root&gt;&lt;/div&gt;</code></pre>
   <div class="mui--text-subhead">Implement the integration configuration:</div>
   <pre><code class="html">&lt;script type=&quot;text/javascript&quot;&gt;
window.BLUEMOON_CONFIG = {{ context.configuration|tojson_pretty|safe }};
&lt;/script&gt;</code></pre>
   <div class="mui--text-subhead">Finally include the JS files:</div>
   <pre><code class="html">{% for js_file in context.js_files %}
&lt;script type=&quot;text/javascript&quot; src=&quot;//{{context.static_url}}/{{js_file}}&quot;&gt;&lt;/script&gt;
{%- endfor %}</code></pre>
</div>
<div class="mui-container">
   <div class="mui--text-title"mui--text-display1">Optional integration details</div>
   <div class="mui--text-subhead">Parameters</div>
   <table class="mui-table mui-table--bordered">
      <thead>
         <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Description</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>apiUrl</td>
            <td>string</td>
            <td>URL for API</td>
         </tr>
         <tr>
            <td>propertyNumber</td>
            <td>number</td>
            <td>Property Number for Leases</td>
         </tr>
         <tr>
            <td>accessToken</td>
            <td>string</td>
            <td>Oauth Token for User</td>
         </tr>
         <tr>
            <td>navigation</td>
            <td>boolean</td>
            <td>use navgiation or not</td>
         </tr>
         <tr>
            <td>view</td>
            <td>string</td>
            <td>'create', 'edit' or null</td>
         </tr>
         <tr>
            <td>callBack</td>
            <td>string: URL on your system that will accept a JSON post of the lease data</td>
         </tr>
         <tr>
            <td>leaseData</td>
            <td>object</td>
            <td>Data to prepoulate the lease object with.</td>
         </tr>
         <tr>
            <td>origin</td>
            <td>string</td>
            <td>client specific values, please ask Bluemoon</td>
         </tr>
         <tr>
            <td>lockPopulatedFields</td>
            <td>boolean</td>
            <td>lock fields poplulated with data from leaseData</td>
         </tr>
         <tr>
            <td>disableFieldToolTips</td>
            <td>boolean</td>
            <td>disable field tool tips that display field names</td>
         </tr>
      </tbody>
   </table>
   <div class="mui--text-subhead">Create Lease</div>
   <pre><code class="html">&lt;script type=&quot;text/javascript&quot;&gt;
window.BLUEMOON_CONFIG = {{ context.create_view|tojson_pretty|safe }};
&lt;/script&gt;</code></pre>
   <div class="mui--text-subhead">Edit Lease</div>
   <pre><code class="html">&lt;script type=&quot;text/javascript&quot;&gt;
window.BLUEMOON_CONFIG = {{ context.edit_view|tojson_pretty|safe }};
&lt;/script&gt;</code></pre>
   <div class="mui--text-subhead">Lease Data</div>
   <p>For a comprehensive list please contact Bluemoon for API access details.</p>
   <pre><code class="json">
{
   "lease_id":"34973569",
   "data":{
      "standard":{
         "address":"Main St.",
         "date_of_lease":"07\/13\/2017",
         "lease_begin_date":"07\/13\/2017",
         "lease_end_date":"09\/01\/2018",
         "maximum_guest_stay":null,
         "resident_1":null,
         "resident_2":null,
         "resident_3":null,
         "resident_4":null
      }
   }
}
    </code></pre>
</div>
<div class="mui-container">
    <div class="mui--text-title"">OAuth2 Password Grant</div>
    <div class="mui--text-subhead">Python</div>
    <pre><code class="python">
import requests

def login(username, license, password):
    headers = {
        'Content-Type': 'application/json',
        'Accept': 'application/json',
        'Provider': 'legacy'
    }
    url = '{}/oauth/token'.format(os.getenv('OAUTH_CLIENT_URL'))
    payload = {
        'username': username,
        'password': password,
        'license': license,
        'grant_type': 'password',
        'client_id': os.getenv('OAUTH_CLIENT_ID'),
        'client_secret': os.getenv('OAUTH_CLIENT_SECRET')
    }
    response = requests.post(url, headers=headers, json=payload)
    data = response.json()
    if response.status_code == 200:
        return data['access_token']
    </code></pre>
    <div class="mui--text-subhead">PHP</div>
    <pre><code class="php">
use GuzzleHttp\Client;

function login($username, $license, $password)
{
    $client = new Client(['base_uri' => env('OAUTH_CLIENT_URL')]);
    $headers = [
        'Accept' => 'application/json',
        'Content-Type' => 'application/json',
        'Provider' => 'legacy'
    ];
    $data = [
        'username' => $username,
        'password' => $password,
        'license' => $license,
        'grant_type' => 'password',
        'client_id' => env('OAUTH_CLIENT_ID'),
        'client_secret' => env('OAUTH_CLIENT_SECRET'),
    ];
    $response = $client->post('/oauth/token', [
        'headers' => $headers(),
        'http_errors' => false,
        'json' => $data
    ]);
    $statusCode = $response->getStatusCode();
    $data = json_decode($response->getBody(), true);
    if ($statusCode == 200) {
        return $data['access_token'];
    }
}
    </code></pre>
    <div class="mui--text-subhead">curl</div>
    <pre><code class="bash">
curl -X POST \
  $OAUTH_CLIENT_URL/oauth/token \
  -H 'Cache-Control: no-cache' \
  -H 'Content-Type: application/json' \
  -H 'Provider: legacy' \
  -d '{
    "username": "$USERNAME",
    "password": "$PASSWORD",
    "license": "$LICENSE",
    "grant_type": "password",
    "client_id": $OAUTH_CLIENT_ID,
    "client_secret": "$OAUTH_CLIENT_SECRET"
}'
    </code></pre>
</div>
{% endblock %}

{% block scripts %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}