{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="mui--appbar-height"></div>
<br>
<br>
<div class="mui-col-sm-4 mui-col-sm-offset-4">
  <form class="mui-form" method="POST" action="/login">
    <legend>Login</legend>
    <div class="mui-textfield">
      {{ form.license() }}
      {{ form.license.label }}
    </div>
    <div class="mui-textfield">
      {{ form.username() }}
      {{ form.username.label }}
    </div>
    <div class="mui-textfield">
      {{ form.password() }}
      {{ form.password.label }}
    </div>
    <input type="submit" class="mui-btn mui-btn--raised" value="Submit"/>
  </form>
</div>
{% endblock %}
